.full-center { 
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pe-pointer {
    cursor: pointer;
}